/* Générale */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #6495ed;
  overflow-x: hidden;
}

/******* header *******/

.menuHeader {
  display: flex;
  height: 12rem;

  background-color: #ffde4d;
}

.logoTitre {
  display: flex;
  margin-top: 20px;
}
.logoTitre img {
  width: 2.5rem;
}

.logoTitre h1 {
  font-size: 1.5rem;
  margin: 5px;
}

.menudesktop {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.menudesktop a {
  text-decoration: none;
  color: black;
  font-size: 25px;

}

.connect {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.person,
.cart {
  width: 40px;
  height: 40px;
  color: black;
}

/* Menu mobile */

.menumobile {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: black;
  padding-top: 60px;
  transition: left 0.5s ease;
  display: none;
}

.menumobile a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  color: #ffde4d;
  padding: 10px;
  font-size: 20px;
}

.menumobile a:hover {
  color: #6495ed;
}

.menumobile.active {
  left: 0;
}

/* Close btn */
.menumobile .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.burger-icon {
  display: none;
}
/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}


/******* FOOTER *******/

/* Footer 1 */

.blockFooter1 {
  display: flex;
  margin-top: 8rem;
  text-align: center;
  height: 14rem;
  background-color: #ffde4d;
  align-items: center;
}

.icon1,
.icon2,
.icon3,
.icon4 {
  margin-right: 5px;
  animation-duration: 2s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blockFooter1 h2 {
  font-size: 1.5rem;
}
.blockFooter1 p {
  font-size: 1.2rem;
}



/* Footer 2 */

.blockFooter2 {
  display: flex;
  background: #ffde4d;
  margin-top: 8rem;
  height: 40rem;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 4rem;
}

.adres {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.adres p {
  font-size: 1.5rem;
}


/* Footer 3 */

.blockFooter3 {
  display: flex;
  background: #ffde4d;
  height: 6rem;
  flex-direction: row;
  align-items: center;
}
.blockFooter3 a {
  color: black;
  font-size: 2.5rem;
}
.copyright {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
}

.logoSociaux {
  display: flex;
  justify-content: center;
}

/***** Media Querie *******/

@media screen and (max-width: 768px) {
  .menuHeader {
    height: 6rem;
  }
  .logoTitre {
    width: 35%;
  }
  .logoTitre img {
    width: 1.5rem;
  }
  .logoTitre h1 {
    font-size: 1rem;
    margin: 5px;
  }
  .menudesktop {
    display: none;
  }
  .connect {
    display: none;
  }

  .menumobile {
    display: block;
  }
  .person,
  .cart {
    color: #ffde4d;
  }

  #openBtn {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }

  .burger-icon {
    display: block;
  }

  .blockFooter1 {
    height: 25rem;
  }
  .blockFooter1 p {
    font-size: 1rem;
  }

  .blockFooter2 {
    height: 24rem;
  }

  iframe {
    width: 60%;
    height: auto;
  }
  .adres p {
    font-size: 0.75rem;
  }

  h2 {
    font-size: 1rem;
  }

  .copyright {
    font-size: 0.75rem;
  }
}
